/ 下記は自分で書いたサイドバーのhaml
.sidebar_box
  .name_box
    .name_box__content
      %p.name_box__content--name
        = current_user.name
      = link_to new_group_path do
        %i.name_box__content--icon.fa.fa-cog
      = link_to edit_user_path(current_user.id) do
        %i.name_box__content--icon.fa.fa-pencil-square-o
  .group_box
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        %p.group_box__name
          = group.name
        %p.group_box__text
          = group.show_last_message
